.places {
  margin: 0 auto;
  margin-top: 92px;
  padding: 0 148px;
  max-width: 984px;
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    margin-top: 88px;
    padding: 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    margin-top: 64px;
    padding: 0 16px;
  }
}
