.footer__links {
  display: flex;
  margin: 92px 0 24px 0;
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 320px) {
  .footer__links {
    flex-direction: row;
  }
}

.footer__links li {
  margin-right: 18px;
}

.footer__link li:last-of-type {
  margin-right: 0;
}
