.place__paragraph {
  margin: 0 0 26px 0;
  max-width: 484px;
  font-size: 18px;
  line-height: 29,32px;
  font-weight: normal;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    margin: 0 0 25px 0;
    line-height: 26,08px;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraph {
    margin: 0 0 25px 0;
  }
}