.footer__copyright {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: white;
  text-align: right;
  margin: 92px 0 24px 0;
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    line-height: 14px;
  }
}
