.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-gap: 48px 40px;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-gap: 48px 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-gap: 48px 28px;
  }
}

@media screen and (max-width: 320px) {
  .place {
    grid-template-columns: 1fr;
  }
}

.place:last-of-type {
  margin-bottom: 0;
}
